.authpage{
    background-image: url('../images/Fx-background-image.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
    padding: 30px;
    width: 25vw;
    min-width: 400px;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.2);
    border: rgba(255, 255, 255,0.4) 1px solid;
    border-radius: 12px;
    box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 0.5);
    color: #fff;
}
.login-page-top-content{
    text-align: center;
}
.heading-text{
    background-image: linear-gradient(to left, #FFFFFF, #00FFFF);
    background-clip: text;
    color: transparent;
}
.input-container input{
    width: 90%;
    height: 50px;
    padding: 5px 20px;
    border: #0f5cc0 2px solid;
    background-color: #fcfdff;
    border-radius: 12px;
    margin-bottom: 20px;
}
.input-container input:focus{
    border: #0f5cc0 1px solid;
}
.login{
    width: 100%;
    height: 60px;
    padding: 5px 20px;
    font-weight: bold;
    border: unset;
    background: linear-gradient(to right, #00FFFF, #4493e2);
    border-radius: 12px;
}
.login ~ p{
    margin-top: -10px;
    font-size: 12px;
    color: #f8efef;
    text-align: center;
}
footer{
    margin-top: 60px;
    color: #fff;
    text-align: center;
}