.innerlayout{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F5F6FA;
}
.side-bar{
    align-self: start;
    z-index: 1;
    width: 45vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 70px 20px;
    background-color: #fff;
    
}
#visibility{
    display: block;
}
.close-icon{
    width: 40px;
    position: absolute;
    right: 30px;
}
.side-bar img:hover{
    transform: rotate(-120deg);
    cursor: pointer;
    transition: 0.9s;
}

.side-bar ul{
    display: flex;
    height: 250px;
    margin-top: 70px;
    margin-left: -35px;
    flex-direction: column;
    justify-content: space-around;
}
.side-bar ul li{
    list-style: none;
    padding: 20px 30px;
    border-radius: 12px;
    background-color: #f7f8ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side-bar ul li:hover{
    cursor: pointer;
    background-color: #0e0da4;
    color: #fff;
}
.side-bar ul li img{
    width: 25px;
}

header{
    width: 100%;
    background-color: #fff;
    margin-bottom: 40px;
    padding:  20px 0;
    position: sticky;
    top: 0px;
}
header img{
    background: #ffffff;
    width: 50px;
    margin-left: 20px;
}
header img:hover{
    cursor: pointer;
    transform: scale(0.8);
    transform: rotate(-30deg);
    transition: 0.5s;
    display: block;
}


.dashboard{
    background-image: linear-gradient(to left, rgba(19, 50, 223, 0.3), rgba(19, 50, 223, 0.8), rgba(14, 13, 164, 1)), url('../images/dashboard-background.jpg');
    background-position: top;
    border-radius: 20px;
    width: 90%;
    height: 25vh;
    padding: 20px;
    font-size: 12px;
    color: #fff;
}
.dashboard h1{
    font-size: 40px;
    margin: 0;
}

.progress-section{
    width: 95%;
    padding: 0 0 0 10px;

}
.progress-section div:nth-child(1){
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 8px 2px rgba(14, 13, 164, 0.1);
    border-radius: 12px;
    margin: 70px 0;

}
.progress-section div:nth-child(1) button{
    background-color: #1332df;
    padding: 18px 20px;
    border: unset;
    border-radius: 12px;
    font-weight: bold;
    color: #fff;

}


.trading-overview-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 20px 50px;
    border: rgba(19, 50, 223, 0.5) 1px solid;
    border-radius: 12px;
    margin: 70px 0 70px;
}
.latest-trade{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
}
.latest-trade p{
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: space-around;
    color: #000;
    font-size: 12px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.17);
    padding: 20px;
    border-radius: 20px;
    
}

.trading-overview-section button{
    position: absolute;
    bottom: -30px;
    align-self: center;
    padding: 18px 20px;
    margin-top: 20px;
    background-color: #fff;
    border: none;
    box-shadow: inset 0 0 8px 0 rgba(19, 50, 223, 0.2);
    border-radius: 8px;
    font-weight: bold;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trading-overview-section img{
    width: 30px;
    margin-left: 10px;
}


.ongoing-trade{
    background: linear-gradient(270deg, #0e0da4, #1332df);
    padding: 20px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    border-radius: 18px;
    color: #fff;
}

.ongoing-trade div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
}
.ongoing-trade div p{
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: space-around;
    color: #000;
    font-size: 12px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    
}

.ongoing-trade button{
    align-self: start;
    padding: 18px 20px;
    margin-top: 20px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: #eb0000;
}

